@model int

<div class="container row">
    <div class="col-12 text-center" style="margin-top: 200px">
        <h1 class="text-primary text-center" style="font-size: 65px">Ваш заказ сформовано!</h1>
        
    </div>
    <div style="margin-top: 200px">

    </div>
</div> 